*,
::after,
::before {
    border: 0;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

i{
    margin-left: 10px;
    margin-right: 10px;
}

body {

    background-color: var(--body-background-color)
}

a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

:root {
    --header-background-color: #ffff;
    --header-height: 64px;
    --header-color-menu-item: #0A21B4;
    --body-background-color: #F9FAFF;
    --black: black;
    --blue: #0A21B4;
    --colorbutton: #57BC2F;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.padding-cont {
    padding: 20px;
}

.width {
    width: 90%;
}

.label {
    font-size: 18px;
    font-weight: 600;
}

.border-bottom {
    border-bottom: 1px solid #9F9FA1;
}

.margin-item {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 30px;
    margin-right: 20px;
}

.column-flex {
    flex-direction: column;
}

.row-flex {
    flex-direction: row;
}

.marginTop{
    margin-top: 12px;
    margin-bottom: 10px;
}

.margin-sides{
    margin-left: 10px;
    margin-right: 10px;
}

.left-orientation{
    margin-left: auto;
}

.flex-center{
    justify-content: center
}

.text-center{
    text-align: center;
}

.button-text{
    padding: 5px;
    color: #F2F2F2;
    font-weight: 400;
    text-align: center;
}

.edit{
    background-color:var(--colorbutton);
    padding: 10px;
    border-radius: 5px;
}

.delete{
    background-color:red;
    padding: 10px;
    border-radius: 5px;
}

.center-text{
    display: flex;
    align-items: center;
}

.h2-highlight{
    font-weight: 700;
    font-size: 20px;
}